<!DOCTYPE html>
<html>
<head>
    <title>Yelp Camp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Following CSS files are connected to this HTML file, externally.-->
    <link href="/stylesheets/form_css/style.css" type="text/css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/stylesheets/form_css/util.css">

    <link rel="stylesheet" type="text/css" href="/stylesheets/resources/fonts/iconic/css/material-design-iconic-font.min.css">

    <link rel="stylesheet" type="text/css" href="/stylesheets/resources/fonts/font-awesome-4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <!--External CSS Files ends here-->

</head>
<body>
<!--In case, if the user wanted to move all elements from one place to one place, then simply copy and past the limiter tag with elements inside. We also created the limiter div for responsive design or if the user wanted to set width or height optionally.-->
<div class="limiter">
    <!--The side wallpaper (Bewasoft Logo and its description)-->
    <div class="sidewallpaper col-md-6">
        <div class="sidewallpaper-background">
            <a class="p-t-30 form-title" href="/campgrounds">
                <!--    				<img class="sideLogo" src="/stylesheets/resources/img/logo.png">-->
                Yelp Camp
            </a>

            <p class="ptitle">Made for camping lovers. Made with ❤ and node.</p>
        </div>
    </div>
    <!--Side Wallpaper Structures ends here-->

    <!--Form-Container or all Elements covered in form (Elements after Sidewallpaper) Starts-->
    <div class="form-container col-md-6">

        <!--Signup/Login button in the corner structures starts here-->
        <div class="sign-in">
            <a href="/campgrounds">Home</a>
            <!--            <a href="/register">Sign Up</a>-->
        </div>
        <!--Signup/Login button in the corner structures ends here-->

        <!--Title of Form Starts-->
        <span class="form-title p-b-30">Edit <%= campground.name %></span>
        <!--Title of Form Ends-->

        <!--Logo as Title when the width is minimum than 768px. (Best for Mobiles, Tablets...) Starts-->
        <span class="title p-b-20 p-t-30">
            <img class="logo" src="/stylesheets/resources/img/logoAsTitle.png" alt="Title logo">
        </span>
        <!--Logo as Title when the width is minimum than 768px. (Best for Mobiles, Tablets...) Ends-->

        <!--Form Structure Starts-->
        <form action="/campgrounds/<%= campground._id %>?_method=PUT" id="form" method="post">
            <!--Username Input and It's Icons, Label...-->
            <div class="input-div">
                <span class="input-label">Name:</span>
                <input id="campgroundName" class="input" type="text" name="campground[name]" value="<%= campground.name %>">
                <span class="input-focus" data-symbol="&#xf15a;"></span>
                <!--Remember: The data-symbol gets the label/input icon-->
            </div>

            <!--Password Input and It's Icons, Label...-->
            <div class="input-div">
                <span class="input-label">Image URL:</span>
                <input id="campgroundImageUrl" class="input" type="url" name="campground[image]" value="<%= campground.image %>">
                <span id="passwordId" class="input-focus" data-symbol="&#xf190;"></span>
                <!--Remember: The data-symbol gets the label/input icon-->
            </div>

            <div class="input-div">
                <span class="input-label">Price:</span>
                <input id="campgroundImageUrl" class="input" type="number" name="campground[price]" value="<%= campground.price %>" min="0.01" step="0.01">
                <span id="passwordId" class="input-focus" data-symbol="&#xf190;"></span>
                <!--Remember: The data-symbol gets the label/input icon-->
            </div>

            <div class="input-div">
                <span class="input-label">Description:</span>
                <textarea id="campgroundDescription" class="input" type="text" name="campground[description]"><%= campground.description %></textarea>
                <span class="input-focus" data-symbol="&#xf190;"></span>
                <!--Remember: The data-symbol gets the label/input icon-->
            </div>

            <!--Log in button/submit and its containers...-->
            <div class="container-form-btn p-t-30 p-b-5">
                <div class="wrap-form-btn">
                    <button id="submitBtn" class="form-btn" type="submit">
                        Submit
                    </button>
                </div>
            </div>
            <!--Log in Button structure ends here-->

        </form>
        <!--Form Structure Starts-->
    </div>
    <!--Form-Container or all Elements covered in form (Elements after Sidewallpaper) Starts-->
</div>
<!--Limiter Div structure ends.-->
<script src="/stylesheets/resources/script/bootstrap.min.js"></script>
<script type="text/javascript" src="/stylesheets/resources/script/script.js"></script><!--External JavaScript Files Connected with this HTML-->
</body>
</html>